ul.bread-crumbs {
  padding: 0 0 16px 0 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bread-crumbs li.crumb {
  margin-right: 12px;
  display: flex;
  align-items: center;

  &:before {
    margin: 0 6px 0 0 !important;
    padding: 0 !important;
    width: 6px;
  }
}