@mixin class($name) {
  .#{$name},
  %#{$name} {
    @content
  }
}

@include class("hidden-on-phone") {
  @include media-query("smaller-than-tablet") {
    display: none !important;
  }
}

@include class("hidden-sub-notebook") {
  @include media-query("smaller-than-notebook") {
    display: none !important;
  }
}

// what it does: prevents the browser to add a break / new line if there is not
// enough space to dislay things like long words
@include class("nobr") {
  white-space: nowrap;
}

@include class("m--default") {
  margin: 0 0 round($inuit-base-line-height / 2);
}

@include class("picture") {
  @extend %m--default;
}

@include class("caption") {
  @extend %m--default;
  @extend %text--small;
}

@include class("form") {
  @extend %m--default;
}

@include class("paragraph") {
  @extend %m--default;
}

@mixin responsive-content-padding() {
  padding-left: $content-padding--phone;
  padding-right: $content-padding--phone;

  @include media-query("tablet") {
    padding-left: $content-padding--tablet;
    padding-right: $content-padding--tablet;
  }

  @include media-query("notebook") {
    padding-left: $content-padding--notebook;
    padding-right: $content-padding--notebook;
  }

  @include media-query("desk") {
    padding-left: $content-padding--desk;
    padding-right: $content-padding--desk;
  }

  @include media-query("huge") {
    padding-left: $content-padding--huge;
    padding-right: $content-padding--huge;
  }
}

@include class("heading") {
  margin: 0;
}

@include class("heading--alpha") {
  @extend %heading;
  margin: ($inuit-base-line-height / 2) 0;

  @include media-query("tablet-and-up") {
    margin: $inuit-base-line-height 0;
  }
}

@include class("heading--beta") {
  @extend %heading;
  margin: $inuit-base-line-height 0 ($inuit-base-line-height / 2);

  @include media-query("desk-and-up") {
    margin: 0;
  }
}

@include class("heading--gamma") {
  @extend %heading;
  margin: ($inuit-base-line-height / 2) 0;
}

.fa-twitter {
  &:before {
    color: $color-twitter;
  }
}

.fa-facebook {
  &:before {
    color: $color-facebook;
  }
}

%ul--reset {
  margin: 0;
  padding-left: 15px;
}

%text--huge {
  font-size: ($inuit-base-font-size / 16px) * $factor-text--huge;
}

%text--large {
  font-size: ($inuit-base-font-size / 16px) * $factor-text--large;
}

@include class("text--small") {
  font-size: ($inuit-base-font-size / 16px) * $factor-text--small;
}

@include class("text--tiny") {
  font-size: ($inuit-base-font-size / 16px) * $factor-text--tiny;
}

%text--bold {
  font-weight: bold;
}

%text--very-bright {
  color: $color--brightest;
}

%border--big {
  border-width: $border-width--big;
}

%link--default {
  border-color: transparent;
  border-radius: $link-border-radius--default;
  border-style: solid;
  border-width: 1px;
  // padding: 2px 3px 0;
  text-decoration: none;
  transition: all $transition-time--default ease;
}

%link--underline {
  border-bottom-style: $link-border-bottom-style;
}

%link--underline-on-bright {
  border-bottom-color: color-ipoa-green;
}

%link-in-linklist {
  border-radius: $link-border-radius--default;
  margin: 0 0 .3em .7em;
  padding: $link-padding--small;
  text-decoration: none;
  transition: all $transition-time--default ease;

  &:before {
    background-image: url("../Images/angle-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 1em;
    margin-left: -15px;
    width: 1em;
  }
}

%link--in-linklist {
  margin: 0 0 .3em .7em;

  &:before {
    background-image: url("../Images/angle-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 1em;
    margin-left: -15px;
    width: 1em;
  }
}

%link--block {
  display: block;
  padding: $link-block-padding;
}

%link--block-on-bright {
  background-color: $color-block-background--on-bright;
}

%link--on-bright {
  border-bottom-color: $color-ipoa-green;
  color: $color--darkest;

  &:hover,
  &:focus {
    background-color: $color-ipoa-green;
    border-color: $color-ipoa-green;
    color: $color--brightest;
  }

  &:active {
    background-color: $color-ipoa-yellow;
    border-color: $color-ipoa-yellow;
    color: $color--darkest;
  }
}

%link__button-on-bright {
  background-color: $color-block-background--on-bright;
  padding: $link-block-padding;
}

%head__link--on-bright {
  @extend %link--on-bright;
  background-color: $color--brightest;
  border-color: $color--brightest;
}

%link-on-dark {
  color: $color--brightest;

  &:hover,
  &:focus {
    background-color: $color--brightest;
    border: 1px solid $color--darkest;
    color: $color--darkest;
  }

  &:active {
    background-color: $color-ipoa-yellow;
    color: $color--darkest;
  }
}

%link--with-icon-on-dark {
  .fa-icon {
    @extend .fa-icon-on-dark;
  }

  &:hover,
  &:active,
  &:focus {
    .fa-icon {
      @extend .fa-icon-on-bright;
    }
  }
}

%link--with-icon-on-bright {
  .fa-icon {
    @extend .fa-icon-on-bright;
  }

  &:hover,
  &:active,
  &:focus {
    .fa-icon {
      @extend .fa-icon-on-dark;
    }
  }
}

.no-js .on-demand__link {
  display: none;
}
