.footer__content {
  padding: 0 150px;
  width: 100%;
  display: flex;
}

.footer__column {
  padding-bottom: 20px;
  padding-top: 20px;
  width: 25%;
  display: inline-block;
  padding-left: 20px;
  vertical-align: top;
}

.footer__column .frame {
  flex-direction: column;
}

.footer__column .frame header {
  width: 100%;
}

.footer__column .ce-textpic {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer__column .ce-textpic figure {
  margin: 0;
}

.footer {
  word-wrap: break-word;

  h3 {
    @extend %heading--gamma;
  }

  a {
    @extend %link--default;
    @extend %link--on-bright;
    @extend %link--underline;
    @extend %link--underline-on-bright;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  ul {
    @extend %ic-list-bare;

    a {
      @extend %link--default;
      @extend %link--in-linklist;
      @extend %link--block;
      @extend %link--block-on-bright;
    }

    a:before {
      margin-bottom: $shift-chevron-before-content;
    }

    a:hover,
    a:focus {
      @extend %link--on-bright;
    }
  }
}

.footer__tracking {
  @extend %ic-layout__item;
  @extend %text--tiny;

  @include media-query("notebook-and-up") {
    text-align: right;
  }
}
