.head {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  background: url("../Images/bg-h-1.jpg") no-repeat center center fixed;
  background-size: cover;
  @include responsive-content-padding();

  @include media-xl {
    justify-content: flex-start;
    flex-direction: row;
    padding-bottom: 20px;
  }
  @include media-l {
    justify-content: flex-start;
  }
  @include media-m {
    align-items: center;
    flex-direction: column;
  }
  @include media-s {
    align-items: center;
    flex-direction: column;
  }
}

.head__links {
  width: 100%;
  align-items: center;

  @include media-xl {
    display: flex;
    justify-content: flex-start;
    width: 75%;
  }
  @include media-l {
    display: flex;
    justify-content: flex-start;
    width: 75%;
  }
  @include media-m {
    display: flex;
    justify-content: flex-end;
  }
  @include media-s {
    display: none;
    justify-content: flex-end;
  }
}

.head-nav {
  display: flex;
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  @include responsive-content-padding();
}

// 1. give the icon a little bit more space to top
// 2. these links are not allowed to break into a new line
.head__link {
  @extend %link--default;
  @extend %head__link--on-bright;
  padding: 2px; // 1.
  white-space: nowrap; // 2.
  background-color: transparent;
  border-color: transparent;

  &:hover,
  &:focus {
    @extend %link--on-bright;

    svg {
      color: $color--brightest;
      fill: currentColor;
    }

  }

  &:active svg {
    color: $color--darkest;
  }
}

.head__link svg {
  margin-bottom: -3px;
}

.head__link--active {
  background-color: $color-ipoa-green;
  color: $color--brightest;
}

.head__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.head__list > li {
  display: inline-block;
}

.head__menubutton {
  display: flex; /* [1] */
  padding-left: $inuit-layout-gutter;
  padding-right: $inuit-layout-gutter;
  vertical-align: top; /* [3] */
  align-items: center;
  margin: 0;

  @include media-xl {
    width: 25%;
    justify-content: flex-end;
  }
  @include media-l {
    width: 204px; // like logo
    margin-right: 40px;
    padding-right: 0;
    justify-content: flex-end;
  }
  @include media-m {
    width: 100%;
    justify-content: flex-start;
  }
  @include media-s {
    width: 100%;
    justify-content: flex-start;
  }
}

.head__menubutton svg {
  margin-bottom: -3px;
}

// the block that contains the various links to choose a different language
// hidden by default
// visible if ___ clicked
.head__language-links {
  display: none;
  line-height: 220%;
  padding-left: 0;
  text-align: right;
  justify-content: flex-start;
  align-items: center;

  @include media-query("tablet-and-up") {
    text-align: left;
  }

  @include media-query("phone") {
    display: flex;
    text-align: left;
  }

  g {
    fill: $color--brightest;
  }
}

.head__language-label {
  @include media-sub-l {
    display: none;
  }
}

// always show language selection links if user has no JS
.no-js .head__language-links {
  display: flex;
}

// align language icon with those above
// FIXME : dirty numbers
.language-icon--push-right-in-header {
  padding-left: 8px;
}

.no-js .head__language-indicator {
  display: none;
}

.head__logo {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;

  @include media-xl {
    width: 25%;
    margin-top: 40px;
  }
  @include media-l {
    margin: 40px 40px 0 0;
  }
  @include media-m {
    margin-top: 10px;
  }
  @include media-s {
    margin-top: 10px;
  }
}

.head__logo img {

  @include media-xl {
    width: 204px;
    max-width: 250px;
  }
  @include media-l {
    width: 204px;
    max-width: 250px;
  }
  @include media-m {
    margin-right: 10px;
    width: 120px;
  }
  @include media-s {
    width: 90px;
  }
}

.head__text {
  flex-direction: column;
  justify-content: flex-end;

  @include media-xl {
    display: flex;
    width: 75%;
  }
  @include media-l {
    display: flex;
  }
  @include media-m {
    display: none;
  }
  @include media-s {
    display: none;
  }
}

// only visible in tablet-and-up
// 1.,2. show claim only if enough screen estate is available
.head__text-claim {
  font-weight: 400;

  @include media-xl {
    margin-top: 40px;
    font-size: $large-font-size;
  }
  @include media-l {
    margin-top: 30px;
    font-size: $large-font-size;
  }
  @include media-m {
    margin-top: 40px;
    font-size: $large-font-size;
  }
  @include media-s {
    margin-top: 30px;
    font-size: $large-font-size - 6px;
  }
}

// 1. align page title with content
.head__text-pagetitle h1 {
  letter-spacing: $letter-spacing--larger;
  text-align: center;
  width: 100%;
  font-size: $large-font-size;
  font-weight: 400;
  @include media-xl {
    display: flex;
    margin: 24px 0 0 0;
  }
  @include media-l {
    display: none;
    margin: 24px 0 0 0;
  }
  @include media-m {
    display: none;
  }
  @include media-s {
    display: none;
  }
}

.head__text-pagetitle-small {

  @include media-xl {
    display: none;
    margin: 24px 0;
    text-align: left;
  }
  @include media-l {
    display: flex;
    margin: 24px 0 24px 0;
    font-size: $large-font-size;
    width: 100%;
    text-align: left;
  }
  @include media-m {
    display: flex;
    margin: 0 0 12px 0;
    font-size: $large-font-size - 6px;
    text-align: center;
  }
  @include media-s {
    display: flex;
    margin: 0 0 6px 0;
    font-size: $base-font-size + 6px;
    text-align: center;
  }
}

.no-js .head-nav {
  display: flex;
  width: 100%;

  @include media-xl {
  }
  @include media-l {
  }
  @include media-m {
  }
  @include media-s {
  }
}

.head-nav--narrow {
  background-color: $color--brightest;
  border-bottom: 1px solid lighten($link-color--default, 50%);
  display: flex !important;
}