.head {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 150px 0px 150px;
  margin: 0;
  background: url("../Images/bg-h-1.jpg") no-repeat center center fixed;
  background-size: cover;
  @include media-xl {
    justify-content: flex-start;
    flex-direction: row;
  }
  @include media-l {
    justify-content: flex-start;
  }
  @include media-m {
    align-items: center;
    flex-direction: column;
  }
  @include media-s {
    align-items: center;
    flex-direction: column;
  }
}

.head__links {
  @extend %ic-layout__item;
  @extend .ic-smaller-than-tablet-two-thirds;
  @extend .ic-tablet-and-up-three-quarters;
  @extend .ic-mt--;
  text-align: right;

  @include media-query("tablet-and-up") {
    text-align: left;
  }
}

.head-nav {
  display: flex;
  height: 50px;
  left: 0;
  padding: 10px 150px 0 150px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  .head__links {
    @include media-query("phone") {
      display: none;
    }
  }
}



// 1. give the icon a little bit more space to top
// 2. these links are not allowed to break into a new line
.head__link {
  @extend %link--default;
  @extend %head__link--on-bright;
  @extend %nobr; // 2.
  padding: 7px 5px 5px; // 1.
  &:hover,
  &:focus {
    @extend %link--on-bright;

    svg {
      color: $color--brightest;
      fill: currentColor;
    }

  }

  &:active svg {
    color: $color--darkest;
  }
}

.head__link--active {
  background-color: $color-ipoa-green;
  color: $color--brightest;
}

// 1. LIs are inline
// 2. UL is inline
.head__list {
  @extend %ic-list-bare;
  @extend %ic-list-inline; // 1.
  display: inline; // 2.
}

// .head__menubutton
// 1. simulating "@extend .ic-mt+"
.head__menubutton {
  @extend %ic-layout__item;
  @extend .ic-smaller-than-tablet-one-third;
  @extend .ic-tablet-and-up-one-quarter;
  @extend .ic-mt--;

  @include media-query("tablet-and-up") {
    text-align: right;
    padding-right: double($inuit-base-spacing-unit) !important;
  }
}

// the block that contains the various links to choose a different language
// hidden by default
// visible if ___ clicked
.head__language-links {
  @extend %ic-layout__item;
  @extend .ic-pt;
  display: none;
  line-height: 220%;
  padding-left: 0;
  text-align: right;

  @include media-query("tablet-and-up") {
    text-align: left;
  }

  @include media-query("phone") {
    display: block;
    text-align: left;
  }

  g {
    fill: $color--brightest;
  }
}

// always show language selection links if user has no JS
.no-js .head__language-links {
  display: block;
}

// align language icon with those above
// FIXME : dirty numbers
.language-icon--push-right-in-header {
  padding-left: 8px;
}

.no-js .head__language-indicator {
  display: none;
}

// 1. simulating "@extend .ic-pr"
.head__logo {
  display: flex;
  @include media-xl {
    margin-top: 20px;
  }
  @include media-l {
    margin-top: 20px;
  }
  @include media-m {
    margin-top: 10px;
  }
  @include media-s {
    margin-top: 10px;
  }
}

.head__logo img {

  @include media-xl {
    margin-right: 40px;
    width: 200px;
  }
  @include media-l {
    margin-right: 20px;
    width: 120px;
  }
  @include media-m {
    margin-right: 10px;
    width: 120px;
  }
  @include media-s {
    width: 90px;
  }
}

.head__text {
  flex-direction: column;
  @include media-xl { display: flex; }
  @include media-l { display: flex; }
  @include media-m { display: none; }
  @include media-s { display: none; }
}

// only visible in tablet-and-up
// 1.,2. show claim only if enough screen estate is available
.head__text-claim {
  font-weight: 400;

  @include media-xl {
    margin-top: 40px;
    font-size: $large-font-size;
  }
  @include media-l {
    margin-top: 30px;
    font-size: $large-font-size - 6px;
  }
}

// 1. align page title with content
.head__text-pagetitle {
  letter-spacing: $letter-spacing--larger;
  text-align: center;
  width: 100%;
  font-size: $large-font-size;
  font-weight: 400;
  @include media-xl { display: flex; }
  @include media-l { display: none; }
  @include media-m { display: none; }
  @include media-s { display: none; }
}

h1.head__text-pagetitle-small {

  @include media-xl {
    display: none;
    margin: 24px 0;
  }
  @include media-l {
    display: flex;
    margin: 0 0 24px 0;
    font-size: $large-font-size - 6px;
    width: 100%;
  }
  @include media-m {
    display: flex;
    margin: 0 0 12px 0;
    font-size: $large-font-size - 6px;
  }
  @include media-s {
    display: flex;
    margin: 0 0 6px 0;
    font-size: $base-font-size + 6px;
  }
}

.no-js .head-nav {
  display: flex;
  width: 100%;
}

.head-nav--narrow {
  background-color: $color--brightest;
  border-bottom: 1px solid lighten($link-color--default, 50%);
  display: flex !important;
}