[class^="fa-icon-"],
[class*=" fa-icon-"] {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  margin-bottom: -2px;
  width: 1em;
}

.fa-icon-on-bright {
  color: $color--darkest;
  fill: currentColor;
}

.fa-icon-on-dark {
  color: $color--brightest;
  fill: currentColor;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-oat {
  width: 3em;
}

.icon-oa {
  width: 2em;
}

.icon-toggle-on {
  width: 1.142578125em;
}

.icon-toggle-off {
  width: 1.142578125em;
}

.icon-info {
  width: 0.357421875em;
}

.icon-angle-right {
  width: 0.3388671875em;
}

.icon-angle-double-down {
  width: 0.642578125em;
}

.icon-angle-double-right {
  width: 0.5537109375em;
}

.icon-library {
  width: 1.0625em;
}

.icon-users {
  width: 1.75em;
}
