.last {
  @extend %text--very-bright;
  display: flex;
  font-size: $base-font-size;
  padding: $base-distance 150px;

  @include responsive-content-padding();
  border-bottom: 1px solid lighten($color--darkest, 50%);

  img {
    max-width: 100%;
  }
}

.last__block1 {
  @extend %ic-layout__item;
  @extend .ic-tablet-and-up-one-half;
}

.last__block2 {
  @extend %ic-layout__item;
  @extend .ic-tablet-and-up-one-half;

  @include media-query("tablet-and-up") {
    text-align: right;
  }
}

.last__list {
  @extend %ic-list-bare;
  @extend %ic-list-inline;
}

.last__link {
  @extend %link--default;
  @extend %link__button-on-bright;
  margin: 2px 3px 0;

  &:hover,
  &:focus { @extend %link--on-bright; }
}
