.main {
  @extend .ic-pt;

  @include responsive-content-padding();
  display: flex !important;
  flex-direction: column;

  a {
    @extend %link--default;
    @extend %link--on-bright;
    @extend %link--underline;
    @extend %link--underline-on-bright;
  }

  ul {
    @extend %list-bare;
    @extend %m--default;
    padding-left: $inuit-base-line-height;

    @include media-query("phone") {
      padding-left: $inuit-base-line-height / 2;
    }

    li:before {
      background-image: url("../Images/angle-right.svg");
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: inline-block;
      height: 1em;
      margin-bottom: $shift-chevron-before-content;
      margin-left: -20px;
      margin-right: 5px;
      width: 12px;
    }

    a {
      @extend %link--default;
      @extend %link--on-bright;
      @extend %link--underline;
      @extend %link--underline-on-bright;
    }
  }

  > h2 {
    @extend %ic-layout__item;
    @extend .ic-desk-and-up-three-twelfths;
    @extend %heading;
    @extend %heading--beta;
    line-height: round($inuit-base-line-height / .65);

    @include media-query("desk-and-up") {
      text-align: right;
    }

    > div > ul {
      padding-left: 0;
    }
  }

  h2 + div {
    @extend %ic-layout__item;
    @extend .ic-desk-and-up-nine-twelfths;
    @extend %paragraph;

    p {
      @extend %m--default;
    }
  }

  table {
    @extend %m--default;

    tbody,
    thead {
      table-layout: fixed;
      width: 100%;
      word-break: break-word;
      display: flex;
      flex-direction: column;
      border-bottom: none !important;
    }

    caption {
      @extend %m--default;
      text-align: left;
    }

    thead {
      border-bottom: 1px solid $color--darkest;
    }

    tr {
      display: flex;
      justify-content: space-between;
    }

    td {
      padding: $table-cell-padding;
      width: 100%;
      text-align: left;
    }

    th {
      padding: $table-cell-padding;
      width: 100%;
      text-align: left;
    }

    .odd {
      background-color: $table-uneven-background-color;
    }
  }

  > ul {
    @extend %m--default;
  }

  h2 + div h3:first-child {
    margin-top: 8px;
  }

  .results-highlight {
    background-color: $color-block-background--on-bright;
  }
}

@include media-query("desk-and-up") {
  main h2 + div p:first-child {
    margin-top: 9px;
  }

  main h2 + div ul:first-child {
    margin-top: 9px;
  }
}

.main__gallery {
  @extend %paragraph;
  @extend %m--default;

  picture {
    @extend %ic-layout__item;
    @extend .ic-tablet-one-half;
    @extend .ic-notebook-one-half;
    @extend .ic-desk-one-half;
    @extend .ic-huge-one-third;
    @extend %picture;
  }
}

.main .on-demand__link {
  @extend %link--default;
  @extend %link--on-bright;
  @extend %link--underline;
  @extend %link--underline-on-bright;
  cursor: pointer;
}