
// breakpoints
$break-l: 1200px;
$break-m: 1025px;
$break-s: 480px;

@mixin media-l {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin media-m {
  @media (min-width: 480px) and (max-width: 1199px) {
    @content;
  }
}

@mixin media-s {
  @media (max-width: 480px) {
    @content;
  }
}
