.more {
  @extend %ic-layout;

  @include responsive-content-padding();

  word-wrap: break-word;

  h3 {
    @extend %heading--gamma;
  }

  ul {
    @extend %ic-list-bare;
    @extend %m--default;

    a {
      @extend %link--default;
      @extend %link--in-linklist;
      @extend %link--block;
      @extend %link--block-on-bright;
    }

    a:before {
      margin-bottom: $shift-chevron-before-content;
      display: flex;
      flex-shrink: 0;
    }

    a:hover,
    a:focus {
      @extend %link--on-bright;
    }
  }

  a {
    @extend %link--default;
    @extend %link--on-bright;
    @extend %link--underline;
    @extend %link--underline-on-bright;
  }

  img {
    max-width: 100%;
  }
}

.more__column {
  padding-bottom: 20px;
  padding-top: 20px;
  width: 25%;
  display: inline-block;
  padding-left: 20px;
  vertical-align: top;

  div a {
    @extend %link--default;
    @extend %link--on-bright;
    @extend %link--underline;
    @extend %link--underline-on-bright;

    &:hover {
      background-color: $color-ipoa-green;
    }
  }

  h3 + a {
    border: transparent;

    &:hover {
      background-color: transparent;
    }
  }

   a > img {
    border: 1px dotted $color-ipoa-green;
    border-radius: 2px;

    &:hover {
      background-color: transparent;
      border-style: solid;
    }
  }

  .column__textblock a {
    border-color: transparent;
  }
}

.more__column fieldset input {
  width: 100%;
}

.more__column .frame {
  flex-direction: column;
  display: flex;
}

.more__column .frame header {
  width: 100%;
}

.more__column .tx-felogin-pi1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}