.more {
  @include responsive-content-padding();
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -$inuit-layout-gutter;
  word-wrap: break-word;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0;
}

.more h2 {
  @extend %heading--gamma;
  font-size: $larger-font-size !important;
}

.more ul {
  @extend %list-bare;
  @extend %m--default;
  width: 100%;

  a {
    @extend %link--default;
    @extend %link--in-linklist;
    @extend %link--block;
    @extend %link--block-on-bright;
    display: flex;
    border-bottom: none;
  }

  a:before {
    margin-bottom: $shift-chevron-before-content;
    display: flex;
    flex-shrink: 0;
  }

  a:hover,
  a:focus {
    @extend %link--on-bright;
  }
}

.more a {
  @extend %link--default;
  @extend %link--on-bright;
  @extend %link--underline;
  @extend %link--underline-on-bright;
}

.more img {
  max-width: 100%;
  height: auto;
}

.more__column {
  padding: 20px 0 20px 20px;
  display: inline-block;
  vertical-align: top;

  @include media-xl {
    width: 25%;
  }
  @include media-l {
    width: 50%;
  }
  @include media-m {
    width: 100%;
  }
  @include media-s {
    width: 100%;
  }

  div a {
    @extend %link--default;
    @extend %link--on-bright;
    @extend %link--underline;
    @extend %link--underline-on-bright;

    &:hover {
      background-color: $color-ipoa-green;
    }
  }

  a > img {
    border: 1px dotted $color-ipoa-green;
    border-radius: 2px;

    &:hover {
      background-color: transparent;
      border-style: solid;
    }
  }
}

.more__column fieldset input {
  width: 100%;
}

.more__column .frame {
  flex-direction: column;
  display: flex;
}

.more__column .frame header {
  width: 100%;
}

.more__column .tx-felogin-pi1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}