.start {
  display: block;
  background: url("../Images/bg-1.jpg") no-repeat center center fixed;
  background-color: #cacaca;
  background-size: cover;
  height: 100vh;
  min-height: 100%;

  nav a {
    border: none;

    &:hover {
      background-color: transparent;
    }
  }
}

.start__header {
  display: flex;
  justify-content: center;
  flex: 0;
}

.start__logo {
  display: inline-block;
  padding-left: $inuit-layout-gutter;
  vertical-align: top;
  width: 100%;

  @include media-sup-m {
    text-align: right;
    margin: 20vh 20px 0;
  }
  @include media-sub-l {
    text-align: center;
    margin: 20vh 0 0;
  }

  .image {
    max-width: 300px;
  }
}

.start__title {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  display: none;
  font-size: 1.8em;

  @include media-sup-m {
    display: inline-block;
    padding: 23vh 0 0 3vh;
    text-align: left;
  }
}

.start__main {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 2vh 0 0;
}

.start__navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.start__link {
  @extend %link--default;
  @extend %head__link--on-bright;
  padding: 2px 4px; // 1.
  white-space: nowrap; // 2.
  background-color: transparent;
  border-color: transparent;

  &:hover,
  &:focus {
    @extend %link--on-bright;

    svg {
      color: $color--brightest;
      fill: currentColor;
    }
  }

  &:active svg {
    color: $color--darkest;
  }

  a {
    text-decoration-line: none;
  }
}

.start__link--active {
  background-color: $color--darkest;
  color: $color--brightest;
}

.start__list {
  @extend %btn;
  @extend %list-bare;
  @extend %list-inline;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.start__footer-content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.start__button {
  @extend %btn;
  @extend %border--big;
  @extend %text--large;
  @extend %text--bold;
  background-color: $color--brightest;
  color: $color--darkest;
  margin: 5px;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($color--brightest, 15%);
    color: $color--darkest;
  }

  &[tabindex='4'] {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.start__footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.start__language-links {
  width: 100%;
  padding-top: 16px;
  justify-content: flex-start;
  align-items: center;
}

.start__language-list {
  display: flex;

}