.start {
  display: block;
  background: url("../Images/bg-11.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: #cacaca;
  height: 100vh;
  min-height: 100%;
  overflow: scroll;

  nav a {
    border: none;

    &:hover {
      background-color: transparent;
    }
  }
}


.start__logo {
  display: inline-block;
  padding-left: $inuit-layout-gutter;
  vertical-align: top;
  width: 100%;

  @include media-sup-m {
    text-align: right;
    margin: 20vh 0 0;
  }
  @include media-sub-l {
    text-align: center;
    margin: 20vh 0 0;
  }

  .image {
    max-width: 300px;
  }
}

.start__title {
  padding: 23vh 0 0 3vh;
  vertical-align: top;
  font-size: 1.8em;

  @include media-sup-m {
    display: inline-block;
    text-align: left;
  }
}

.start__main {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 2vh 0 0;
}

.start__navigation-infos,
.start__navigation-additional {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: $inuit-base-line-height;
}

.start__link {
  @extend %link--default;
  @extend %head__link--on-bright;
  padding: 2px 4px; // 1.
  white-space: nowrap; // 2.
  background-color: transparent;
  border-color: transparent;

  &:active svg {
    color: $color--darkest;
  }

  a {
    text-decoration-line: none;
  }
}

.start__link--active {
  background-color: $color--darkest;
  color: $color--brightest;
}

.start__list {
  @extend %btn;
  @extend %list-bare;
  @extend %list-inline;
  display: flex;
  width: 100%;
  align-items: center;
}

.start__footer-content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.start__footer {
  display: flex;
  justify-content: center;
}

.start__language-links {
  width: 100%;
  padding-top: 16px;
  justify-content: flex-start;
  align-items: center;
}

.start__language-list {
  display: flex;

}

// Bootstrap stuff
.start .btn {
  font-weight: bold;
  font-size: ($inuit-base-font-size / 16px) * $factor-text--large;
  margin-bottom: 0;
}

.start .w-100 {
  padding-bottom: 24px;
}

.start .card svg {
  width: 2em;
  height: 2em;
}

.start a {
  border: 0;
}

.start .card-deck i {
  font-size: ($inuit-base-font-size / 16px) * $factor-text--large * 1.5;
}