.frame {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: $base-distance;
}

.frame header {
  display: flex;
  width: 25%
}

.frame > div {
  display: flex;
  width: 75%;
}

.frame header h2 {
  margin: 0 0 12px 0;
  line-height: 37px;
  font-size: $inuit-heading-size-2;
}

.frame p {
  margin: 0 0 12px 0;
}

.ce-textpic  {
  display:flex;
}

.ce-textpic.ce-right.ce-intext {
  display: flex;
  flex-direction: row-reverse;
}

.ce-textpic.ce-left.ce-intext {
  display: flex;
  flex-direction: row;
}