.frame {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.frame header h2 {
  padding-top: 20px;
  margin: 0 0 12px 0;
  line-height: 37px;
}

.frame p {
  margin: 0 0 12px 0;
}

.ce-textpic  {
  display:flex;
}

.ce-textpic.ce-right.ce-intext {
  display: flex;
  flex-direction: row-reverse;
}

.ce-textpic.ce-left.ce-intext {
  display: flex;
  flex-direction: row;
}