.frame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: $base-distance;

  @include media-xl {
    justify-content: flex-end;
  }
  @include media-l {
    justify-content: flex-end;
  }
  @include media-m {
    justify-content: flex-end;
  }
  @include media-s {
    justify-content: flex-end;
  }
}

// empty element with element id
.frame > a {
  border: 0;
}

.frame header {
  display: flex;
  padding-right: 6px;

  @include media-xl {
    width: 25%;
  }
  @include media-l {
    width: 100%;
  }
  @include media-m {
    width: 100%;
  }
  @include media-s {
    width: 100%;
  }
}

.main .frame > div {
  display: block;

  @include media-xl {
    width: 75%;
  }
  @include media-l {
    width: 100%;
  }
  @include media-m {
    width: 100%;
  }
  @include media-s {
    width: 100%;
  }
}

.frame header {
  h2 {
    margin: 0 0 12px 0;
    line-height: 37px;
    font-size: 26px;
    max-width: 100%;
  }

  &:only-child {
    justify-self: flex-start;
  }
}

.frame p {
  margin: 0 0 $base-distance 0;
}

.frame ul {
  margin: 0 0 $base-distance 0;
}

.frame ul ul {
  margin-bottom: 0;
}

.main .frame ul {
  display: flex;
  flex-direction: column;

  @include media-xl {
    width: 75%;
  }
  @include media-l {
    width: 100%;
  }
  @include media-m {
    width: 100%;
  }
  @include media-s {
    width: 100%;
  }
}

.main .frame > table {
  display: block;

  @include media-xl {
    width: 75%;
  }
  @include media-l {
    width: 100%;
  }
  @include media-m {
    width: 100%;
  }
  @include media-s {
    width: 100%;
  }
}
/* fix css for fixed header */
.frame span.anchor {
  position: relative;
  top: -55px;
}

.ce-textpic  {
  display:flex;
  flex-wrap: wrap;
  padding-top: 4px;
}

.ce-gallery {
  display: block;
}

.ce-bodytext {
  display: block;
}

.ce-bodytext h3 {
  margin-bottom: 16px;
}

.ce-bodytext h4 {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: $base-font-size;
}

.ce-textpic.ce-right.ce-intext .ce-gallery {
  float: right;
}

.ce-textpic.ce-left.ce-intext .ce-gallery {
  float: left;

  img {
    padding-top: 7px;
    max-width: 100%;
  }
}

.ce-textpic.ce-right.ce-above .ce-gallery {
  text-align: right;
}

.ce-textpic.ce-center.ce-above .ce-gallery {
  text-align: center;
}

.ce-textpic.ce-above figure {
  margin: 16px 0;
}

.ce-textpic.ce-left figure {
  margin-left: 0;
}

.ce-textpic.ce-right figure {
  margin-right: 0;
}

.ce-textpic.ce-intext figure {
    margin-top: 0;
}

.ce-border img {
  border: 1px ridge $color-block-background--on-bright;
}

.ce-textpic figure {
  @extend %list-bare;

  a {
    display: flex;
    padding: 0;
    @extend %link--default;
    @extend %link--block;
    @extend %link--block-on-bright;
    background-color: transparent !important;

    img {
      display: flex !important;
    }
  }

  a:hover,
  a:focus {
    @extend %link--on-bright;
  }
}

#screenshot{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:5px;
  display:none;
  color:#fff;
}