.pb-list {
  margin-left: 0 !important;
}

.twitter {
  padding-bottom: 6px;
  
  img {
    border-radius: 50%;
    clip-path: circle(25px at center);
    margin-bottom: -5px;
    width: 20px !important;
  }
}
