.body {
  font-family: 'Open Sans', sans-serif;
  font-size: $inuit-base-font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  // scss-lint:disable PropertySpelling
  font-synthesis: none; // Firefox only: https://developer.mozilla.org/de/docs/Web/CSS/font-synthesis
  // scss-lint:enable PropertySpelling
  font-weight: 100;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

.image {
  width: 100%;
}

blockquote {
  margin-bottom: $content-padding--phone * 4;
  margin-left: $content-padding--phone * 2;
  margin-top: $content-padding--phone * 2;

  @include media-query("tablet") {
    margin-left: $content-padding--tablet;
  }

  @include media-query("notebook") {
    margin-left: $content-padding--notebook / 2;
  }

  @include media-query("desk") {
    margin-left: $content-padding--desk / 4;
  }

  @include media-query("huge") {
    margin-left: $content-padding--desk / 4;
  }

  &:before {
    font-weight: bold;
    margin-left: -10px;
    margin-right: 2px;
  }

  &:after {
    font-weight: bold;
    margin-left: 2px;
    margin-right: -8px;
  }
}

sub,
sup {
  &:before {
    content: "";
    margin-left: 2px;
  }

  &:after {
    content: "";
    margin-right: 2px;
  }
}

a {
  color: $link-color--default;
}

a,
textarea,
input {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: initial;
}
