.footer-hide {
  position: relative;
  z-index: 0;
}

.footer-hide__helper {
  background-color: $color-text-background--default;
  position: relative;
  z-index: 1;
}

.footer-hide__helper--shifted {
  position: fixed;
  transform: translateX(30%);

  @include media-query("phone") {
    display: none;
  }
}

.footer-hide__content {
  @include media-query("notebook-and-up") {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: -1;
  }
}

// no-js fallback
// don't hide the footer if there is no js available
.no-js .footer-hide__content {
  @include media-query("notebook-and-up") {
    position: relative;
    z-index: 0;
  }
}
