/**
 *
 */
[class^="fa-icon-"], [class*=" fa-icon-"] {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-bottom: -2px;
	fill: currentColor;
}

/**
 *
 */
.fa-icon-on-bright {
	color: $color--darkest;
	fill: currentColor;
}

/**
 *
 */
.fa-icon-on-dark {
	color: $color--brightest;
	fill: currentColor;
}


.fa-icon-search {
	width: 0.9287109375em;
}

.fa-icon-close {
	width: 0.7861328125em;
}

.fa-icon-home {
	width: 0.9287109375em;
}

.fa-icon-camera {
	width: 1.0712890625em;
}

.fa-icon-image {
	width: 1.0712890625em;
}

.fa-icon-map-marker {
	width: 0.5712890625em;
}

.fa-icon-chevron-left {
	width: 0.7138671875em;
}

.fa-icon-chevron-right {
	width: 0.7138671875em;
}

.fa-icon-phone {
	width: 0.7861328125em;
}

.fa-icon-twitter {
	width: 0.9287109375em;
}

.fa-icon-facebook {
	width: 0.5712890625em;
}

.fa-icon-rss {
	width: 0.7861328125em;
}

.fa-icon-chain {
	width: 0.9287109375em;
}

.fa-icon-bolt {
	width: 0.5em;
}

.fa-icon-coffee {
	width: 1.0712890625em;
}

.fa-icon-angle-double-left {
	width: 0.5712890625em;
}

.fa-icon-angle-double-right {
	width: 0.5712890625em;
}

.fa-icon-angle-double-up {
	width: 0.642578125em;
}

.fa-icon-angle-double-down {
	width: 0.642578125em;
}

.fa-icon-angle-left {
	width: 0.357421875em;
}

.fa-icon-angle-right {
	width: 0.357421875em;
}

.fa-icon-angle-up {
	width: 0.642578125em;
}

.fa-icon-angle-down {
	width: 0.642578125em;
}

.fa-icon-quote-left {
	width: 0.9287109375em;
}

.fa-icon-quote-right {
	width: 0.9287109375em;
}

.fa-icon-question {
	width: 0.5712890625em;
}

.fa-icon-info {
	width: 0.357421875em;
}

.fa-icon-ellipsis-h {
	width: 0.7861328125em;
}

.fa-icon-ellipsis-v {
	width: 0.2138671875em;
}

.fa-icon-trash {
	width: 0.7861328125em;
}

.fa-icon-toggle-off {
	width: 1.142578125em;
}

.fa-icon-toggle-on {
	width: 1.142578125em;
}
