.main {
  @extend %ic-layout;
  @extend .ic-pt;

  @include responsive-content-padding();

  img {
    width: 100%;
  }

  picture {
    @extend %ic-layout__item;
    @extend .ic-mt;
    @extend %picture;

    > div {
      @extend %caption;

      @include media-query("desk-and-up") { text-align: right; }
    }
  }

  a {
    @extend %link--default;
    @extend %link--on-bright;
    @extend %link--underline;
    @extend %link--underline-on-bright;
  }

  ul {
    @extend %ic-list-bare;
    @extend %m--default;
    padding-left: $inuit-base-line-height;

    @include media-query("phone") { padding-left: $inuit-base-line-height / 2; }

      margin-bottom: 0 !important;

      li:before {
        background-image: url("../Images/angle-right.svg");
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: inline-block;
        height: 1em;
        margin-bottom: $shift-chevron-before-content;
        margin-left: -20px;
        margin-right: 4px;
        width: 12px;
      }

    a {
      @extend %link--default;
      @extend %link--on-bright;
      @extend %link--underline;
      @extend %link--underline-on-bright;
    }
  }

  > h2 {
    @extend %ic-layout__item;
    @extend .ic-desk-and-up-three-twelfths;
    @extend %heading;
    @extend %heading--beta;
    line-height: round($inuit-base-line-height / .65);

    @include media-query("desk-and-up") { text-align: right; }

    > div > ul {
      padding-left: 0;
    }
  }

  h2 + div {
    @extend %ic-layout__item;
    @extend .ic-desk-and-up-nine-twelfths;
    @extend %paragraph;

    p {
      @extend %m--default;
    }
  }

  table {
    @extend %m--default;

    table-layout: fixed;
    width: 100%;
    word-break: break-word;

    caption {
      @extend %m--default;
      text-align: left;
    }

    thead {
      border-bottom: 1px solid $color--darkest;
    }

    td {
      padding: $table-cell-padding;
    }

    .uneven {
      background-color: $table-uneven-background-color;
    }
  }

  > ul {
    @extend %m--default;
  }

  picture a {
    border-bottom-color: transparent;
    border-width: 0;
    padding: 0;

    &:hover {
      background-color: transparent;
      border: transparent;
    }

    img {
      border: 2px solid $color-ipoa-green;
      border-radius: 2px;
    }
  }

  h2+div h3:first-child {
    margin-top: 8px;
  }
}

@include media-query("desk-and-up") {
  main h2 + div p:first-child {
    margin-top: 9px;
  }

  main h2 + div ul:first-child {
    margin-top: 9px;
  }
}

.main__gallery {
  @extend %paragraph;
  @extend %m--default;

  picture {
    @extend %ic-layout__item;
    @extend .ic-tablet-one-half;
    @extend .ic-notebook-one-half;
    @extend .ic-desk-one-half;
    @extend .ic-huge-one-third;
    @extend %picture;
  }
}
