.main {
  @extend %ic-layout;
  @extend .ic-pt;

  @include responsive-content-padding();

  img {
    width: 100%;
  }

  picture {
    @extend %ic-layout__item;
    @extend .ic-mt;
    @extend %picture;

    > div {
      @extend %caption;

      @include media-query("desk-and-up") { text-align: right; }
    }
  }

  a {
    @extend %link--default;
    @extend %link--on-bright;
    @extend %link--underline;
    @extend %link--underline-on-bright;
  }

  ul a {
    @extend %link--default;
    @extend %link--on-bright;
    @extend %link--underline;
    @extend %link--underline-on-bright;
  }

  > h2 {
    @extend %ic-layout__item;
    @extend .ic-desk-and-up-three-twelfths;
    @extend %heading;
    @extend %heading--beta;
    line-height: round($inuit-base-line-height / .65);

    @include media-query("desk-and-up") { text-align: right; }
  }

}

.main picture a,
.more picture a {
  border-bottom-color: transparent;
  border-width: 0;
  padding: 0;

  &:hover {
    background-color: transparent;
    border: transparent;
  }

  img {
    border: 2px solid $color-ipoa-green;
    border-radius: 2px;
  }
}

.oadays {
  > h3 {
    @extend %ic-layout__item;
    @extend .ic-desk-and-up-three-twelfths;
    @extend %heading;
    @extend %heading--beta;
    line-height: round($inuit-base-line-height / .65);

    @include media-query("desk-and-up") {
      text-align: right;
    }
  }

  h4 {
    margin-bottom: 5px;
  }

  .on-demand__link {
    @extend %link--default;
    @extend %link--on-bright;
    @extend %link--underline;
    @extend %link--underline-on-bright;
    cursor: pointer;
  }

  .oadays__image {
    border-radius: 50%;
    clip-path: circle(25px at center);
    margin-bottom: -10px;
    width: 50px;
  }
}


.search {
  .sort--active {
    background-color: $color-block-background--on-bright;
    font-weight: 400;
  }

  .highlight {
    // background-color: $color-block-background--on-bright;
    // color: $color--darkest;
    // border-radius: 3px;
    // padding: 3px;
    font-weight: 400;
  }

  ul li > a {
    font-weight: 400;
  }

  li {
    margin-bottom: 10px;
  }
}

.main > ul {
  @extend %m--default;
}

.main ul {
  @extend %ic-list-bare;
  @extend %m--default;
  padding-left: $inuit-base-line-height;

  @include media-query("phone") { padding-left: $inuit-base-line-height / 2; }

  ul {
    margin-bottom: 0 !important;

    li {
      &:before {
        background-image: url("../Images/angle-right.svg");
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: inline-block;
        height: 1em;
        margin-bottom: $shift-chevron-before-content;
        margin-left: -15px;
        margin-right: 4px;
        width: 12px;
      }
    }
  }
}

.main h2 > div > ul {
  padding-left: 0;
}

.main h2 + div,
.oadays h3 + div {
  @extend %ic-layout__item;
  @extend .ic-desk-and-up-nine-twelfths;
  @extend %paragraph;

  p {
    @extend %m--default;
  }
}

@include media-query("desk-and-up") {
  main h2 + div p:first-child {
    margin-top: 9px;
  }

  main h2 + div ul:first-child {
    margin-top: 9px;
  }

  .oadays h2 + div p:first-child {
    margin-top: 10px;
  }

  .main h3 + div p:first-child {
    margin-top: 7px;
  }
}

.twitter {
  img {
    border-radius: 50%;
    clip-path: circle(25px at center);
    margin-bottom: -5px;
    width: 20px !important;
  }
}

.main table {
  @extend %m--default;

  table-layout: fixed;
  width: 100%;
  word-break: break-word;

  caption {
    @extend %m--default;
    text-align: left;
  }

  thead {
    border-bottom: 1px solid $color--darkest;
  }

  td {
    padding: $table-cell-padding;
  }

  .uneven {
    background-color: $table-uneven-background-color;
  }
}

.main__gallery {
  @extend %paragraph;
  @extend %m--default;

  picture {
    @extend %ic-layout__item;
    @extend .ic-tablet-one-half;
    @extend .ic-notebook-one-half;
    @extend .ic-desk-one-half;
    @extend .ic-huge-one-third;
    @extend %picture;
  }
}
