.more {
  @extend %ic-layout;

  @include responsive-content-padding();

  word-wrap: break-word;

  h3 {
    @extend %heading--gamma;
  }

  ul {
    @extend %ic-list-bare;
    @extend %m--default;

    a {
      @extend %link--default;
      @extend %link--in-linklist;
      @extend %link--block;
      @extend %link--block-on-bright;

      &:hover,
      &:focus {
        @extend %link--on-bright;
      }

      &:before {
        margin-bottom: $shift-chevron-before-content;
      }
    }
  }

  a {
    @extend %link--default;
    @extend %link--on-bright;
    @extend %link--underline;
    @extend %link--underline-on-bright;
  }

  img {
    max-width: 100%;
  }
}

.more__column {
  @extend %ic-layout__item;
  @extend .ic-tablet-one-half;
  @extend .ic-notebook-and-up-one-quarter;
  @extend .ic-pt+;
  @extend .ic-pb+;
}
