.logocarousel {

	img {
		max-width: 100%;
	}

	a {
		margin: 0 !important;
		background-color: transparent !important;

		&:before {
			content: '';
			background-image: none !important;
		}
	}
}

.main h2+div h3:first-child {
	margin-top: 8px;
}

@media print {
	.head-nav,
	.more,
	.search,
	.last,
	.footer-hide {
		display: none;
	}
}

.main,
.more,
.last {
	// https://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/
	/* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}