.logocarousel {

	img {
		max-width: 100%;
	}

	a {
		margin: 0 !important;
		background-color: transparent !important;

		&:before {
			content: '';
			background-image: none !important;
		}
	}
}

.main h2+div h3:first-child {
	margin-top: 8px;
}

@media print {
	.head-nav,
	.more,
	.search,
	.last,
	.footer-hide {
		display: none;
	}
}
