.start {
  background: url("../Images/bg-1.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  min-height: 100%;

  nav a {
    border: none;

    &:hover {
      background-color: transparent;
    }
  }
}

.start__header {
  @extend %ic-layout;
}

.start__logo {
  @extend %ic-layout__item;
  @extend .ic-tablet-and-up-one-half;
  @extend %ic-layout--center;

  margin: 20vh 0 0;

  @include media-query("tablet-and-up") {
    padding-right: 4vh;
    text-align: right;
  }

  .image {
    max-width: 300px;
  }
}

.start__title {
  @extend %ic-layout__item;
  @extend .ic-tablet-and-up-one-half;
  @extend %ic-layout--center;
  display: none;
  font-size: 1.8em;

  @include media-query("tablet-and-up") {
    display: inline-block;
    padding: 23vh 0 0 3vh;
    text-align: left;
  }
}

.start__main {
  @extend %ic-layout__item;
  @extend %ic-layout--center;
  padding: 2vh 0 0;
}

.start__navigation { @extend %ic-layout--center; }

.start__links {
  @extend %ic-layout__item;
  @extend .ic-smaller-than-tablet-two-thirds;
  @extend .ic-tablet-and-up-three-quarters;
  @extend .ic-mt--;
  text-align: right;

  @include media-query("tablet-and-up") {
    text-align: left;
  }
}

// 1. give the icon a little bit more space to top
// 2. these links are not allowed to break into a new line
.start__link {
  @extend %link--default;
  // @extend %start__link--on-bright; not found
  @extend %link--with-icon-on-bright;
  @extend %link--on-bright;
  @extend %nobr; // 2.
  border: none;
  padding: 7px;

  &:hover,
  &:focus {
    @extend %link--on-bright;

    svg {
      color: $color--brightest;
      fill: currentColor;
    }

  }

  &:active svg {
    color: $color--darkest;
  }
}

.start__link--active {
  background-color: $color--darkest;
  color: $color--brightest;
}

// 1. LIs are inline
// 2. UL is inline
.start__list {
  @extend %ic-list-bare;
  @extend %ic-list-inline; // 1.
  display: inline; // 2.
}

.start__footer-content {
  text-align: center;
}

.start__button {
  @extend %ic-btn;
  @extend %border--big;
  @extend %text--large;
  @extend %text--bold;
  background-color: $color--brightest;
  color: $color--darkest;
  margin: 5px;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($color--brightest, 15%);
    color: $color--darkest;
  }
}

.start__footer {
  @extend %ic-layout;
  @extend %ic-layout--flush;
  margin-top: 20px;
}
