/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/

/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes can take a fraction-like format (e.g. `.2/3`) or a spoken-
 * word format (e.g. `two-thirds`). Toggle formats by overriding the
 * `$inuit-use-fractions` variable defined below.
 */

// Predefine the variables below in order to alter and enable specific features.
$inuit-widths-namespace: $inuit-namespace !default;

/**
 * Halves.
 */
.#{$inuit-widths-namespace}one-half {  width: 50% !important; }

/**
 * Thirds.
 */
.#{$inuit-widths-namespace}one-third {  width: 66.6666666% !important; }

/**
 * Quarters.
 */
.#{$inuit-widths-namespace}one-quarter,
.#{$inuit-widths-namespace}three-twelfths {  width: 25% !important; }

.#{$inuit-widths-namespace}three-quarters {  width: 75% !important; }

/**
 * Tenths.
 */
.#{$inuit-widths-namespace}nine-tenths {  width: 90% !important; }

