
<div class="search__pagination">
	<!-- ###PAGE_BROWSER### begin -->
	<!--TYPO3SEARCH_end-->
	<ul class="search__pagination__list">
		<!-- ###ACTIVE_FIRST### begin -->
		<li class="search__pagination__item-first"><a href="###FIRST_LINK###"> ###TEXT_FIRST###</a></li>
		<!-- ###ACTIVE_FIRST### end -->

		<!-- ###INACTIVE_FIRST### begin -->
		<li class="search__pagination__item-first"> ###TEXT_FIRST###</li>
		<!-- ###INACTIVE_FIRST### end -->

		<!-- ###ACTIVE_PREV### begin -->
		<li class="search__pagination__item-prev"><a href="###PREV_LINK###"> ###TEXT_PREV###</a></li>
		<!-- ###ACTIVE_PREV### end -->

		<!-- ###INACTIVE_PREV### begin -->
		<li class="search__pagination__item-prev"> ###TEXT_PREV###</li>
		<!-- ###INACTIVE_PREV### end -->

		<!-- ###PAGES### begin -->
			<!--  ###LESS_PAGES### begin -->
				<li>&nbsp;...</li>
				<!--  ###LESS_PAGES### end -->
				<!-- ###PAGE### begin -->
				<li class="search__pagination__item-page"><a href="###LINK###">###NUMBER_DISPLAY###</a></li>
				<!-- ###PAGE### end -->
				<!-- ###CURRENT### begin -->
				<li class="search__pagination__item-current">###NUMBER_DISPLAY###</li>
				<!-- ###CURRENT### end -->
				<!--  ###MORE_PAGES### begin -->
				<li>nix...</li>
			<!--  ###MORE_PAGES### end -->
		<!-- ###PAGES### end -->

		<!-- ###ACTIVE_NEXT### begin -->
		<li class="search__pagination__item-next"><a href="###NEXT_LINK###">###TEXT_NEXT### </a></li>
		<!-- ###ACTIVE_NEXT### end -->

		<!-- ###INACTIVE_NEXT### begin -->
		<li class="search__pagination__item-next">###TEXT_NEXT###</li>
		<!-- ###INACTIVE_NEXT### end -->

		<!-- ###ACTIVE_LAST### begin -->
		<li class="search__pagination__item-last"><a href="###LAST_LINK###">###TEXT_LAST### </a></li>
		<!-- ###ACTIVE_LAST### end -->

		<!-- ###INACTIVE_LAST### begin -->
		<li class="search__pagination__item-last">###TEXT_LAST###</li>
		<!-- ###INACTIVE_LAST### end -->

	</ul>
	<!--TYPO3SEARCH_begin-->
	<!-- ###PAGE_BROWSER### end -->
</div>