{namespace n=Tx_News_ViewHelpers}
<f:layout name="General" />
<!--
	=====================
		Templates/News/DateMenu.html
-->

<f:section name="content">
	<div class="news-menu-view">
		<f:for each="{data.single}" key="year" as="months">
			<h2>{year}</h2><div>
				<ul>
					<f:for each="{months}" key="month" as="count">
						<f:link.action pageUid="{listPid}" arguments="{overwriteDemand:{year: year, month: month}}"><f:translate key="month.{month}" /> {year}</f:link.action>
						| {count} {f:translate(key:'news', extensionName: 'tmpl_ipoa')}
						</li>
					</f:for>
				</ul>
		</div>
		</f:for>
	</div>
</f:section>
