{namespace n=Tx_News_ViewHelpers}
<f:layout name="General"/>
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
	<f:if condition="{news}">
		<f:then>
			<f:if condition="{contentObjectData.colPos} == 0"><!-- Hauptspalte -->
				<f:then>
					<div class="main__textblock">
						<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit}">
							<f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
								<ul>
									<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}"/>
								</ul>
							</f:for>
						</n:widget.paginate>
						<div>
							 <f:link.page pageUid="{settings.newsArchivePid}">{f:translate(key:'newsArchive', extensionName: 'tmpl_ipoa')}</f:link.page>
						</div>
					</div>
				</f:then>
				<f:else>
					<!-- Listenansicht in Spalten -->
					<div class="column__textblock">
						<f:for each="{news}" as="newsItem">
							<ul>
								<f:render partial="List/Item-title" arguments="{newsItem: newsItem, settings:settings}"/>
							</ul>
						</f:for>
					</div>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<div class="main__textblock">
				<f:translate key="list_nonewsfound"/>
			</div>
		</f:else>
	</f:if>
</f:section>