.t3-frontend-editing__left-bar  {
  .t3-frontend-editing__page-edit {
    display: none;
  }

  .search-button {
    display: none;
  }

  .site-root-button {
    display: none;
  }
}

.t3-frontend-editing__inline-actions span:not(:first-of-type) {
  // hide span children, because parent is not hideable
  display: none !important;
}



.more__column .t3-frontend-editing__dropzone,
.footer .t3-frontend-editing__dropzone {
  // Remove dropzones from more and footer areas
  display: none !important;
}