@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?eglufw');
  src:  url('../fonts/icomoon.eot?eglufw#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?eglufw') format('truetype'),
  url('../fonts/icomoon.woff?eglufw') format('woff'),
  url('../fonts/icomoon.svg?eglufw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-oat:before {
  content: "\e900";
}
.icon-oa:before {
  content: "\e90d";
}
.icon-virus:before {
  content: "\e90e";
}
.icon-helpdesk:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\e910";
  color: #1877f2;
}
.icon-twitter:before {
  content: "\e911";
  color: #1da1f2;
}
.icon-envelope:before {
  content: "\e901";
}
.icon-toggle-on:before {
  content: "\e912";
}
.icon-toggle-off:before {
  content: "\e913";
}
.icon-info:before {
  content: "\e914";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-angle-double-down:before {
  content: "\e903";
}
.icon-angle-double-right:before {
  content: "\e905";
}
.icon-sitemap:before {
  content: "\e90a";
}
.icon-home3:before {
  content: "\e90c";
}
.icon-eyedropper:before {
  content: "\e90b";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-library:before {
  content: "\e921";
}
.icon-phone:before {
  content: "\e942";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-drawer:before {
  content: "\e95c";
}
.icon-users:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-hammer2:before {
  content: "\e9a8";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-info1:before {
  content: "\ea0c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter1:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
