@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?r6p6p7');
  src:  url('../fonts/icomoon.eot?r6p6p7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?r6p6p7') format('truetype'),
    url('../fonts/icomoon.woff?r6p6p7') format('woff'),
    url('../fonts/icomoon.svg?r6p6p7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-helpdesk:before {
  content: "\e906";
}
.icon-oat:before {
  content: "\e900";
}
.icon-oa:before {
  content: "\e90d";
}
.icon-virus:before {
  content: "\e90e";
}
.icon-orcid:before {
  content: "\e904";
  color: #a6ce39;
}
.icon-facebook:before {
  content: "\e910";
  color: #1877f2;
}
.icon-twitter:before {
  content: "\e911";
  color: #1da1f2;
}
.icon-envelope:before {
  content: "\e901";
}
.icon-toggle-on:before {
  content: "\e912";
}
.icon-toggle-off:before {
  content: "\e913";
}
.icon-info:before {
  content: "\e914";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-angle-double-down:before {
  content: "\e903";
}
.icon-angle-double-right:before {
  content: "\e905";
}
.icon-sitemap:before {
  content: "\e90a";
}
.icon-home3:before {
  content: "\e90c";
}
.icon-eyedropper:before {
  content: "\e90b";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-library:before {
  content: "\e921";
}
.icon-phone:before {
  content: "\e942";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-drawer:before {
  content: "\e95c";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-users:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-hammer2:before {
  content: "\e9a8";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-info1:before {
  content: "\ea0c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter1:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-oat {
  width: 2.6337890625em;
}

.icon-oa {
  width: 1.4208984375em;
}

.icon-toggle-on {
  width: 1.142578125em;
}

.icon-toggle-off {
  width: 1.142578125em;
}

.icon-info {
  width: 0.357421875em;
}

.icon-angle-right {
  width: 0.3388671875em;
}

.icon-angle-double-down {
  width: 0.642578125em;
}

.icon-angle-double-right {
  width: 0.5537109375em;
}

.icon-library {
  width: 1.0625em;
}

.icon-bubbles4 {
  width: 1.625em;
}

.icon-users {
  width: 1.125em;
}
