.news {
  display: flex;
  width: 100% !important; // override .frame > div
  justify-content: flex-end;
}

.news-menu-view {
  display: flex;
  width: 75%;
}

.news .article {
  display: flex;
  width: 75%;
  flex-direction: column;
}

.news-list-view {
  display: flex;
  width: 75%;
  flex-direction: column;
}

.news-list-view li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 6px;
}

.news-list-view li a {
  display: flex;
  flex-grow: 1;
}

// only show title in more
.more__column .news {
  width: 100% !important;
}

.more__column .news .description {
  display: none;
}

.more__column .news-list-view {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.more__column .news-list-view a {
  border-color: transparent;
}

.more__column .news-list-view li {
  display: flex;
  margin-bottom: 0px;
}

.more__column .news-date {
  display: none;
}