.news {
  display: flex;
  justify-content: flex-end;
}

.news-menu-view {
  display: flex;
  width: 100%;
}

.news .article {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.news .header {
  width: 25%;
}

.news.news-single .header {
  padding-top: 8px;
  margin-bottom: 20px;
  width: 100%;

  h3 {
    font-size: $larger-font-size !important; // overriding base.h3
  }
}

.news-list-view {
  display: flex;
  flex-direction: column;
}

.news-list-view li {
  margin-bottom: 6px;
}

.news .description {
  *:not(:first-child) {
    display: none;
  }

  * {
    margin: 0;
  }
}

// only show title in more
.more__column .news {
  width: 100% !important;
}

.more__column .news .description {
  display: none;
}

.more__column .news-list-view {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.more__column .news-list-view a {
  border-color: transparent;
}

.more__column .news-list-view li {
  display: flex;
  margin-bottom: 0px;
}

.more__column .news-date {
  display: none;
}

.more__column .news-list-view .news-title {
  display: flex;
  width: 100%;
}

.news .page-navigation {
  display: flex;
  margin: $base-distance 0;

  &:last-of-type {
    margin: 0;
  }

  p {
    display: flex;
    float: none;
    margin: 0;
  }

  ul {
    float: none;

    li {
      float: none;
      display: flex;

      &:before {

      }
    }
  }
}