.tx-powermail form fieldset .form-group {
  margin: 12px 12px 0 12px;
}
.tx-powermail input {
  width: 100%;
}
.tx-powermail input[type="checkbox"],
.tx-powermail input[type="radio"] {
  width: auto;
}
