.pagination {
  margin: 0;
  padding: 0 16px 0 0;
  list-style: none;
  display: flex;
  flex-direction: row !important;
}

ul.pagination li {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  padding: 0 8px !important;

  a {
    padding: 0 8px !important;
    border: 0;
  }

  &:first-of-type {
    padding-left: 0px;
  }

  &:before {
    background-image: none !important;
    content: "" !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 0 !important;
    height: 0 !important;
  }

  &.search__pagination__item-current {
    font-size: 16px;
    border-bottom: 0;
    background-color: $color-ipoa-yellow;
    color: $color--darkest;
  }

  &.search__pagination__item-next {
    font-size: 16px;
    border-bottom: 0;
  }
}