.t3-icon-flags-dede, .t3-icon-dede {
	background-image: url('../Images/flags/dede.png');
}
.t3-icon-flags-deen, .t3-icon-deen {
	background-image: url('../Images/flags/deen.png');
}
.t3-icon-flags-atde, .t3-icon-atde {
	background-image: url('../Images/flags/atde.png');
}
.t3-icon-flags-aten, .t3-icon-aten {
	background-image: url('../Images/flags/aten.png');
}
.t3-icon-flags-chde, .t3-icon-chde {
	background-image: url('../Images/flags/chde.png');
}
.t3-icon-flags-chen, .t3-icon-chen {
	background-image: url('../Images/flags/chen.png');
}
.t3-icon-flags-chfr, .t3-icon-chfr {
	background-image: url('../Images/flags/chfr.png');
}
.t3-icon-flags-dede, .t3-icon-dede {
	background-image: url('../Images/flags/dede.png');
}