{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace ipoa=Subugoe\TmplIpoa\ViewHelpers}

<nav class="alt-menu js-alt-menu --off-canvas" id="menu">
	<ul class="head__list">
		<li>
			<f:link.page pageUid="{START_UID}" title="{f:translate(key:'startpage', extensionName: 'tmpl_ipoa')}"
						 class="head__link" tabindex="2">
				<svg class="fa-icon fa-icon-home fa-icon--s">
					<use xlink:href="#icon-home"></use>
				</svg>
				<span class="hidden-sub-l"> {f:translate(key:'startpage', extensionName: 'tmpl_ipoa')}</span>
			</f:link.page>
		</li>
		<li>
			<f:link.page pageUid="{KONTAKT_UID}" title="{f:translate(key:'contact', extensionName: 'tmpl_ipoa')}"
						 class="head__link" tabindex="2">
				<svg class="fa-icon fa-icon-envelope fa-icon--s">
					<use xlink:href="#icon-envelope"></use>
				</svg>
				<span class="hidden-sub-l"> {f:translate(key:'contact', extensionName: 'tmpl_ipoa')}</span>
			</f:link.page>
		</li>
		<li>
			<f:link.page pageUid="{NEWS_UID}" title="{f:translate(key:'news', extensionName: 'tmpl_ipoa')}"
						 class="head__link" tabindex="2">
				<svg class="fa-icon fa-icon-bolt fa-icon--s">
					<use xlink:href="#icon-bolt"></use>
				</svg>
				<span class="hidden-sub-l"> {f:translate(key:'news', extensionName: 'tmpl_ipoa')}</span>
			</f:link.page>
		</li>
		<li>
			<f:link.page pageUid="{SITEMAP_UID}" title="{f:translate(key:'sitemap', extensionName: 'tmpl_ipoa')}"
						 class="head__link" tabindex="2">
				<svg class="fa-icon fa-icon-sitemap fa-icon--s">
					<use xlink:href="#icon-sitemap"></use>
				</svg>
				<span class="hidden-sub-l"> {f:translate(key:'sitemap', extensionName: 'tmpl_ipoa')}</span>
			</f:link.page>
		</li>
		<li>
			<a href="#search" title="{f:translate(key:'search', extensionName: 'tmpl_ipoa')}"
			   class="head__link js-nav-search-button" tabindex="2">
				<svg class="fa-icon fa-icon-search fa-icon--s">
					<use xlink:href="#icon-search"></use>
				</svg>
				<span class="hidden-sub-l"> {f:translate(key:'search', extensionName: 'tmpl_ipoa')}</span>
			</a>
		</li>
		<v:page.languageMenu
			defaultLanguageLabel="Deutsch"
			defaultIsoFlag="de"
			hideNotTranslated="1"
			linkCurrent="1">
			<f:for each="{languageMenu}" as="lang">
				<li>
					<a class="head__link {f:if(condition: '{lang.current}', then: 'head__link--active',  else:'')}"
					   href="{lang.url}">
						<img
							src='<f:uri.image src="EXT:tmpl_ipoa/Resources/Public/Images/flags/{lang.flag}.png" />'
							class="" alt="">
					</a>
				</li>
			</f:for>
		</v:page.languageMenu>
	</ul>
	<div class="alt-menu__content">
		<div class="alt-menu__close-button-wrap">
			<a href="#" title="{f:translate(key:'closeMenu', extensionName: 'tmpl_ipoa')}"
			   class="alt-menu__close-button">
				<svg class="fa-icon fa-icon-close fa-icon-on-bright">
					<use xlink:href="#icon-close" />
				</svg>
				{f:translate(key:'close', extensionName: 'tmpl_ipoa')}
			</a>
		</div>
		<div class="ajax-menu"></div>
	</div>
</nav>