<div class="footer-hide">
	<div class="footer-hide__content">
		<div class="footer">
			<div class="footer__content"><!--
				--><div class="footer__column"><f:format.html parseFuncTSPath="">{footer1}</f:format.html></div><!--
				--><div class="footer__column"><f:format.html parseFuncTSPath="">{footer2}</f:format.html></div><!--
				--><div class="footer__column"><f:format.html parseFuncTSPath="">{footer3}</f:format.html></div><!--
				--><div class="footer__column"><f:format.html parseFuncTSPath="">{footer4}</f:format.html></div><!--
				--></div><!--
			--></div>
		<div class="tracking">
			<div class="tracking__content">
				<p>{f:translate(key:'optOutWithLink', extensionName: 'tmpl_ipoa')} <a href="#" class="tracking__link"><svg class="fa-icon fa-icon-toggle-on fa-icon--xs"><use xlink:href="#icon-toggle-on"></use></svg> {f:translate(key:'optOut', extensionName: 'tmpl_ipoa')}</a></p>
			</div>
		</div>
	</div>
</div>