<div class="footer-hide">
	<div class="footer-hide__content">
		<div class="footer">
			<div class="footer__content"><!--
				--><div class="footer__column"><f:format.html parseFuncTSPath="">{footer1}</f:format.html></div><!--
				--><div class="footer__column"><f:format.html parseFuncTSPath="">{footer2}</f:format.html></div><!--
				--><div class="footer__column"><f:format.html parseFuncTSPath="">{footer3}</f:format.html></div><!--
				--><div class="footer__column"><f:format.html parseFuncTSPath="">{footer4}</f:format.html></div><!--
				--></div><!--
			--></div>
		<div class="tracking">
			<div class="tracking__content">
				<p>Diese Webseite erfasst anonymisierte Daten zur Nutzung. Sie können dies für die Dauer ihres Besuchs unterbinden, indem sie folgenden Link klicken: <a href="#" class="tracking__link"><svg class="fa-icon fa-icon-toggle-on fa-icon--xs"><use xlink:href="#icon-toggle-on"></use></svg> Nutzungserfassung ausschalten (Opt-Out)</a></p>
			</div>
		</div>
	</div>
</div>