<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<nav class="head-nav">
	<div class="head__menubutton">
		<f:if condition="{MENU} == 1">
			<a class="menu__button js-menu-toggle-button js-alt-menu-toggle-button" href="#menu" tabindex="1">
				<svg class="fa-icon fa-icon-bars fa-icon--s">
					<use xlink:href="#icon-bars"></use>
				</svg>
				<span
					class="hidden-sub-l">
			{f:translate(key:'menu', extensionName: 'tmpl_ipoa')}
			</span>
			</a>
		</f:if>
	</div>
	<div class="head__links">

		<ul class="head__list">
			<li class="head__link">
				<f:link.page pageUid="{START_UID}" title="{f:translate(key:'startpage', extensionName: 'tmpl_ipoa')}"
							 class="head__link" tabindex="2">
					<svg class="fa-icon fa-icon-home fa-icon--s">
						<use xlink:href="#icon-home"></use>
					</svg>
					<span class="hidden-sub-l">{f:translate(key:'startpage', extensionName: 'tmpl_ipoa')}</span>
				</f:link.page>
			</li>
			<v:condition.string.isNumeric value="{KONTAKT_UID}">
				<f:then>
					<li class="head__link">
						<f:link.page pageUid="{KONTAKT_UID}"
									 title="{f:translate(key:'contact', extensionName: 'tmpl_ipoa')}" class="head__link"
									 tabindex="2">
							<svg class="fa-icon fa-icon-envelope fa-icon--s">
								<use xlink:href="#icon-envelope"></use>
							</svg>
							<span
								class="hidden-sub-l">{f:translate(key:'contact', extensionName: 'tmpl_ipoa')}</span>
						</f:link.page>
					</li>
				</f:then>
			</v:condition.string.isNumeric>
			<v:condition.string.isNumeric value="{NEWS_UID}">
				<f:then>
					<li class="head__link">
						<f:link.page pageUid="{NEWS_UID}" title="{f:translate(key:'news', extensionName: 'tmpl_ipoa')}"
									 class="head__link" tabindex="2">
							<svg class="fa-icon fa-icon-bolt fa-icon--s">
								<use xlink:href="#icon-bolt"></use>
							</svg>
							<span
								class="hidden-sub-l">{f:translate(key:'news', extensionName: 'tmpl_ipoa')}</span>
						</f:link.page>
					</li>
				</f:then>
			</v:condition.string.isNumeric>
			<v:condition.string.isNumeric value="{SITEMAP_UID}">
				<f:then>
					<li class="head__link">
						<f:link.page pageUid="{SITEMAP_UID}"
									 title="{f:translate(key:'sitemap', extensionName: 'tmpl_ipoa')}" class="head__link"
									 tabindex="2">
							<svg class="fa-icon fa-icon-sitemap fa-icon--s">
								<use xlink:href="#icon-sitemap"></use>
							</svg>
							<span
								class="hidden-sub-l">{f:translate(key:'sitemap', extensionName: 'tmpl_ipoa')}</span>
						</f:link.page>
					</li>
				</f:then>
			</v:condition.string.isNumeric>
			<v:condition.string.isNumeric value="{SEARCH_UID}">
				<f:then>
					<li class="head__link">
						<f:link.page pageUid="{SEARCH_UID}"
									 title="{f:translate(key:'search', extensionName: 'tmpl_ipoa')}"
									 class="head__link"
									 tabindex="2">
							<svg class="fa-icon fa-icon-search fa-icon--s">
								<use xlink:href="#icon-search"></use>
							</svg>
							<span
								class="hidden-sub-l">{f:translate(key:'search', extensionName: 'tmpl_ipoa')}</span>
						</f:link.page>
						<f:comment>
							<a href="#search" title="{f:translate(key:'search', extensionName: 'tmpl_ipoa')}"
							   class="head__link" tabindex="2">
								<svg class="fa-icon fa-icon-search fa-icon--s">
									<use xlink:href="#icon-search"></use>
								</svg>
								<span
									class="hidden-sub-l">{f:translate(key:'search', extensionName: 'tmpl_ipoa')}</span>
							</a>
						</f:comment>
					</li>
				</f:then>
			</v:condition.string.isNumeric>
			<v:page.languageMenu
				defaultLanguageLabel="Deutsch"
				defaultIsoFlag="de"
				hideNotTranslated="1"
				linkCurrent="0">
				<f:for each="{languageMenu}" as="lang">
					<li class="head__link head__link-language {f:if(condition: '{lang.current}', then: 'head__link-active',  else:'')}">
						<svg class="fa-icon fa-icon-global fa-icon--s">
							<use xlink:href="#icon-globe"></use>
						</svg>
						<f:if condition="{lang.current}">
							<f:then>
									<span class="head__language-label">
										{lang.label}
									</span>
							</f:then>
							<f:else>
								<a href="{lang.url}">
									<span class="head__language-label">
										{lang.label}
									</span>
								</a>
							</f:else>
						</f:if>
					</li>
				</f:for>
			</v:page.languageMenu>
		</ul>
	</div>
</nav>
<header class="head" style="background-image: url('{HEADER_BACKGROUND}')">
	<div class="head__logo">
		<v:condition.string.contains haystack="{HEADER_IMAGE}" needle="$">
			<f:else>
				<img src='<f:format.raw value="{HEADER_IMAGE}" />' class="image" alt="Logo"/>
			</f:else>
		</v:condition.string.contains>
	</div>
	<div class="head__text">
		<div class="head__text-claim">
			<f:format.raw value="{HEADER_CLAIM}"/>
		</div>
		<div class="head__text-pagetitle">
			<h1 class="heading" id="pagetitle">{PAGE_TITLE}</h1>
		</div>
	</div>
	<h1 class="heading head__text-pagetitle-small" id="pagetitle-small">{PAGE_TITLE}</h1>
</header>
</html>