<div class="last">
  <div class="last__block1">
    <ul class="last__list">
      <li><f:link.action pageUid="{START}" title="" class="last__link"><i class="fa fa-fw fa-lg fa-home"></i> Startseite</f:link.action></li>
      <li><f:link.action pageUid="{CONTACT}" title="" class="last__link"><i class="fa fa-fw fa-lg fa-info"></i> Kontakt</f:link.action></li>
      <li><f:link.action pageUid="{SITEMAP}" title="" class="last__link"><i class="fa fa-fw fa-lg fa-sitemap"></i> Sitemap</f:link.action></li>
    </ul>
  </div><!--
  --><div class="last__block2">
    <ul class="last__list">
      <li><a href="#" title="" class="last__link"><i class="fa fa-fw fa-lg fa-comment-o"></i> Diese Inhalte kommentieren</a></li>
      <li><a href="#top" title="" class="last__link"><i class="fa fa-fw fa-lg fa-arrow-up"></i> Zurück zum Seitenanfang</a></li>
    </ul>
  </div>
</div>