{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace ipoa=Subugoe\TmplIpoa\ViewHelpers}

<nav class="alt-menu js-alt-menu" id="menu">
	<ul class="head__list">
   <li>
    <f:link.page pageUid="{START_UID}" title="{f:translate(key:'startpage', extensionName: 'tmpl_ipoa')}" class="head__link" tabindex="2">
       <svg class="fa-icon fa-icon-home fa-icon--s"><use xlink:href="#icon-home"></use></svg><span class="hidden-sub-notebook"> {f:translate(key:'startpage', extensionName: 'tmpl_ipoa')}</span>
     </f:link.page>
   </li><!--
   --><li>
  <f:link.page pageUid="{KONTAKT_UID}" title="{f:translate(key:'contact', extensionName: 'tmpl_ipoa')}" class="head__link" tabindex="2">
       <svg class="fa-icon fa-icon-envelope fa-icon--s"><use xlink:href="#icon-envelope"></use></svg><span class="hidden-sub-notebook"> {f:translate(key:'contact', extensionName: 'tmpl_ipoa')}</span>
     </f:link.page>
   </li>
   <li>
    <f:link.page pageUid="{NEWS_UID}" title="{f:translate(key:'news', extensionName: 'tmpl_ipoa')}" class="head__link" tabindex="2">
       <svg class="fa-icon fa-icon-bolt fa-icon--s"><use xlink:href="#icon-bolt"></use></svg><span class="hidden-sub-notebook"> {f:translate(key:'news', extensionName: 'tmpl_ipoa')}</span>
     </f:link.page>
   </li>
   <li>
    <f:link.page pageUid="{SITEMAP_UID}" title="{f:translate(key:'sitemap', extensionName: 'tmpl_ipoa')}" class="head__link" tabindex="2">
       <svg class="fa-icon fa-icon-sitemap fa-icon--s"><use xlink:href="#icon-sitemap"></use></svg><span class="hidden-sub-notebook"> {f:translate(key:'sitemap', extensionName: 'tmpl_ipoa')}</span>
     </f:link.page>
   </li>
   <li>
    <a href="#search" title="{f:translate(key:'search', extensionName: 'tmpl_ipoa')}" class="head__link js-nav-search-button" tabindex="2">
       <svg class="fa-icon fa-icon-search fa-icon--s"><use xlink:href="#icon-search"></use></svg><span class="hidden-sub-notebook"> {f:translate(key:'search', extensionName: 'tmpl_ipoa')}</span>
     </a>
   </li>
   <li>
     <a href="#" class="head__link js-head-language-indicator js-nav-language-indicator" title="{f:translate(key:'clickToOpen', extensionName: 'tmpl_ipoa')}">
       <svg class="fa-icon fa-icon-globe fa-icon--s">
        <use xlink:href="#icon-globe"></use>
       </svg>
      <span class="hidden-sub-notebook">
       <img src='<f:uri.image src="EXT:tmpl_ipoa/Resources/Public/Images/flags/{ipoa:getAlternativeLanguageFlag()}.png" />'>
       <ipoa:getAlternativeLanguage />
      </span>
     </a>
   </li>
 </ul>
	<v:page.languageMenu
			defaultLanguageLabel="<ipoa:getDefaultLanguage />"
			linkCurrent="0"
			defaultIsoFlag="dede"
			classCurrent="'head__link--active'"
			hideNotTranslated="{true}">
		<div class="head__language-links js-head-language-links">
			<svg class="fa-icon fa-icon-globe fa-icon--s fa-icon-on-bright">
				<use xlink:href="#icon-globe"></use>
			</svg>
			<ul class="head__list language__list">
				<f:for each="{languageMenu}" as="langmenu" iteration="langiter">
					<f:if condition="{ipoa:getLanguageFlag()}=={langmenu.flag}">
						<f:then>
							<li><a href="{langmenu.url}" title="{langmenu.label}" class="head__link head__link--active"><img src='<f:uri.image src="EXT:tmpl_ipoa/Resources/Public/Images/flags/{langmenu.flag}.png" />' class="" alt="{langmenu.label}"> {langmenu.label}</a>
							</li>
						</f:then>
						<f:else>
							<li><a href="{langmenu.url}" title="{langmenu.label}" class="head__link"><img src='<f:uri.image src="EXT:tmpl_ipoa/Resources/Public/Images/flags/{langmenu.flag}.png" />' class="" alt="{langmenu.label}"> {langmenu.label}</a></li>
						</f:else>
					</f:if>
				</f:for>
			</ul>
		</div>
</div>
</v:page.languageMenu>
<f:comment>
  If a page for 404 requests is defined, there should be no menu.
  Otherwise the page is to slow and facilitates DOS attacks
</f:comment>
	<v:condition.string.isNumeric value="{UNKNOWNURL}">
		<f:then>
		</f:then>
		<f:else>
		  <div class="alt-menu__content">
			  <div class="alt-menu__close-button-wrap"><a href="#" title="{f:translate(key:'closeMenu', extensionName: 'tmpl_ipoa')}" class="alt-menu__close-button"><svg class="fa-icon fa-icon-close fa-icon-on-bright"><use xlink:href="#icon-close"></use></svg> {f:translate(key:'close', extensionName: 'tmpl_ipoa')}</a></div>
			    {MENU -> f:format.raw()}
		  </div>
	  </f:else>
	</v:condition.string.isNumeric>



</nav>
