<div class="search" id="search">
  <h2 class="search-heading"><i class="fa fa-fw fa-search"></i> Suche</h2>
	<div class="search-content">
	<form action="" class="search-form" method="get">
		<div class="search-field">
		<input type="text" value="Solr Suche" name="tx_solr[q]" onfocus="this.value=''" class="search-field__field tx-solr-q ui-autocomplete-input menu-searchfields" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
			</div>
		<div class="search-button">
			<input type="button" value="Suchen" class="search-button__button">
		</div>
		<!--
		<input type="hidden" value="ID-DER-SUCHSEITE" name="id">
		<input type="hidden" value="SPRACHPARAMETER" name="L">
		-->
	</form>
		<p class="paragraph search-text">Benutzen Sie die seitenweite Suche um die Inhalte der Informationsplattform Open Access zu durchsuchen.</p>
  </div>
</div>




