<div class="search" id="search">
  <h2 class="search-heading"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="30" height="30" viewBox="0 40 100 120" style="margin-bottom: -3px;"><g transform="translate(0,140)"><g transform="scale(0.06,-0.06)"><path d="M1152 704q0 185 -131.5 316.5t-316.5 131.5t-316.5 -131.5t-131.5 -316.5t131.5 -316.5t316.5 -131.5t316.5 131.5t131.5 316.5zM1664 -128q0 -52 -38 -90t-90 -38q-54 0 -90 38l-343 342q-179 -124 -399 -124q-143 0 -273.5 55.5t-225 150t-150 225t-55.5 273.5 t55.5 273.5t150 225t225 150t273.5 55.5t273.5 -55.5t225 -150t150 -225t55.5 -273.5q0 -220 -124 -399l343 -343q37 -37 37 -90z" /></g></g></svg> Suche</h2>
	<div class="search-content">
	<form action="" class="search-form" method="get">
		<div class="search-field">
		<input type="text" value="Solr Suche" name="tx_solr[q]" onfocus="this.value=''" class="search-field__field tx-solr-q ui-autocomplete-input menu-searchfields" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
			</div>
		<div class="search-button">
			<input type="button" value="Suchen" class="search-button__button">
		</div>
		<!--
		<input type="hidden" value="ID-DER-SUCHSEITE" name="id">
		<input type="hidden" value="SPRACHPARAMETER" name="L">
		-->
	</form>
		<p class="paragraph search-text">Benutzen Sie die seitenweite Suche um die Inhalte der Informationsplattform Open Access zu durchsuchen.</p>
  </div>
</div>




