<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<n:excludeDisplayedNews newsItem="{newsItem}"/>
<!-- header -->
<li>
	<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}" class="news-title">
		<span>{newsItem.title}</span>
	</n:link>
	<span class="news-date">
		-
		<f:format.date format="{f:translate(key:'dateFormat', extensionName: 'tmpl_ipoa')}">{newsItem.datetime}</f:format.date>
			</span>
	<br />
	<n:removeMediaTags>
		<f:if condition="{newsItem.teaser}">
			<f:then>
					<span class="description">
					{newsItem.teaser -> f:format.crop(maxCharacters:
						'{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.raw()}
					</span>
			</f:then>
			<f:else>
					<span class="description">
					{newsItem.bodytext -> f:format.crop(maxCharacters:
						'{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.raw()}
					</span>
			</f:else>
		</f:if>
	</n:removeMediaTags>
</li>
</html>