{namespace ipoa=Subugoe\TmplIpoa\ViewHelpers}

<ipoa:linkCSS  file="http://subugoe.github.io/ipoa-html-template/css/style.css" />

<div class="footer-hide__helper" id="top">
	<f:render partial="Header.html"/>
	<div class="headroom__helper">
		<f:render partial="Content.html"/>
		<f:comment><f:render partial="Search.html"/></f:comment>
		<f:comment><f:render partial="More.html"/></f:comment>
		<f:comment><f:render partial="Last.html"/></f:comment>
	</div>
</div>
<f:comment><f:render partial="Footer-hide.html" /></f:comment>
<f:render partial="Nav.html" arguments="{_all}" />

