<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  data-namespace-typo3-fluid="true">


<f:render partial="Icons.html"/>
<!-- structure according to Tag 0.0.7 -->

<div class="start">
	<div class="container">
		<v:condition.string.contains haystack="{BREAKINGBUT_UID}" needle="{">
			<f:then>
				<header class="start__header pt-2" role="banner">
			</f:then>
			<f:else>
				<header class="start__header pt-5" role="banner">
			</f:else>
		</v:condition.string.contains>
		<div class="row">
			<div class="start__logo col-12 col-md-5">
				<f:if condition="{HEADER_IMAGE}">
					<img src='<f:format.raw value="{HEADER_IMAGE}" />' class="image" alt="Logo"/>
				</f:if>
			</div>
			<div class="start__title col-7 d-none d-md-block">
				<h1 class="mt-0">
					<f:format.raw value="{HEADER_TITLE}"/>
				</h1>
				<div class="">
					<f:format.raw value="{HEADER_CLAIM}"/>
				</div>
			</div>
		</div>
		</header>

		<main role="start__main" class="main">

			<div class="row start__navigation-infos">
				<v:condition.string.contains haystack="{INFOBUT_1_UID}" needle="{">
					<f:else>
						<div class="card col-sm p-2 m-2 justify-content-center">
							<f:link.page pageUid="{INFOBUT_1_UID}" tabindex="2">
								<div class="card-body d-flex m-0 p-0 align-items-center"
									 accesskey="{INFOBUT_1_AC}"
									 role="link">
									<i class="icon-{INFOBUT_1_ICON} m-2 p-2"></i>
									<f:format.raw value="{INFOBUT_1_TITLE}"/>
								</div>
							</f:link.page>
						</div>
					</f:else>
				</v:condition.string.contains>
				<v:condition.string.contains haystack="{INFOBUT_2_UID}" needle="{">
					<f:else>
						<div class="card col-sm p-2 m-2 justify-content-center">
							<f:link.page pageUid="{INFOBUT_2_UID}" tabindex="3">
								<div class="card-body d-flex m-0 p-0 align-items-center"
									 accesskey="{INFOBUT_2_AC}"
									 role="link">
									<i class="icon-{INFOBUT_2_ICON} m-2 p-2"></i>
									<f:format.raw value="{INFOBUT_2_TITLE}"/>
								</div>
							</f:link.page>
						</div>
					</f:else>
				</v:condition.string.contains>
				<v:condition.string.contains haystack="{INFOBUT_3_UID}" needle="{">
					<f:else>
						<div class="card col-sm p-2 m-2 justify-content-center">
							<f:link.page pageUid="{INFOBUT_3_UID}" tabindex="4">
								<div class="card-body d-flex m-0 p-0 align-items-center"
									 accesskey="{INFOBUT_3_AC}"
									 role="link">
									<i class="icon-{INFOBUT_3_ICON} m-2 p-2"></i>
									<f:format.raw value="{INFOBUT_3_TITLE}"/>
								</div>
							</f:link.page>
						</div>
					</f:else>
				</v:condition.string.contains>
			</div>
			<div class="row">
				<div class=" card col p-2 m-2">
					<div class="card-body align-middle p-0">
						<div class="card-title d-flex align-self-center" tabindex="5" accesskey="News">
							<i class="icon-bullhorn m-2 align-self-center pl-2"></i>
							<f:link.page pageUid="{NEWS_UID}" class="align-self-center">
								{f:translate(key:'projectNews', extensionName: 'tmpl_ipoa')}
							</f:link.page>
						</div>
						<div class="card-text">
							<f:cObject typoscriptObjectPath="lib.relContent.10"/>
						</div>
						<div class="card-title d-flex align-self-center" tabindex="6" accesskey="News">
							<i class="icon-bullhorn m-2 align-self-center pl-2"></i>
							<f:link.page pageUid="{NEWS_UID}" class="align-self-center">
								{f:translate(key:'openAccessNews', extensionName: 'tmpl_ipoa')}
							</f:link.page>
						</div>
						<div class="card-text">
							<f:cObject typoscriptObjectPath="lib.relContent.11"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row start__navigation-additional">
				<v:condition.string.contains haystack="{ADDBUT_1_UID}" needle="{">
					<f:else>
						<v:condition.string.contains haystack="{ADDBUT_1_SPECIAL}" needle="{">
							<f:then>
								<div class="card col-sm p-2 m-2 justify-content-center">
							</f:then>
							<f:else>
								<div class="card col-sm p-2 m-2 justify-content-center card-breaking">
							</f:else>
						</v:condition.string.contains>
						<f:link.page pageUid="{ADDBUT_1_UID}" tabindex="6">
							<div class="card-body d-flex p-0 m-0 align-items-center"
								 accesskey="{ADDBUT_1_AC}"
								 role="link">
								<i class="icon-{ADDBUT_1_ICON} m-2 p-2"></i>
								<f:format.raw value="{ADDBUT_1_TITLE}"/>
							</div>
						</f:link.page>
			</div>
			</f:else>
			</v:condition.string.contains>
			<v:condition.string.contains haystack="{ADDBUT_2_UID}" needle="{">
				<f:else>
					<v:condition.string.contains haystack="{ADDBUT_2_SPECIAL}" needle="{">
						<f:then>
							<div class="card col-sm p-2 m-2 justify-content-center">
						</f:then>
						<f:else>
							<div class="card col-sm p-2 m-2 justify-content-center card-breaking">
						</f:else>
					</v:condition.string.contains>
					<f:link.page pageUid="{ADDBUT_2_UID}" tabindex="7">
						<div class="card-body d-flex p-0 m-0 align-items-center"
							 accesskey="{ADDBUT_2_AC}"
							 role="link">
							<i class="icon-{ADDBUT_2_ICON} m-2 p-2"></i>
							<f:format.raw value="{ADDBUT_2_TITLE}"/>
						</div>
					</f:link.page>
	</div>
	</f:else>
	</v:condition.string.contains>
	<v:condition.string.contains haystack="{ADDBUT_3_UID}" needle="{">
		<f:else>
			<v:condition.string.contains haystack="{ADDBUT_3_SPECIAL}" needle="{">
				<f:then>
					<div class="card col-sm p-2 m-2 justify-content-center">
				</f:then>
				<f:else>
					<div class="card col-sm p-2 m-2 justify-content-center card-breaking">
				</f:else>
			</v:condition.string.contains>
			<f:link.page pageUid="{ADDBUT_3_UID}" tabindex="8">
				<div class="card-body d-flex p-0 m-0 align-items-center"
					 accesskey="{ADDBUT_3_AC}"
					 role="link">
					<i class="icon-{ADDBUT_3_ICON} m-2 p-2"></i>
					<f:format.raw value="{ADDBUT_3_TITLE}"/>
				</div>
			</f:link.page>
</div>
</f:else>
</v:condition.string.contains>
<v:condition.string.contains haystack="{ADDBUT_4_UID}" needle="{">
	<f:else>
		<v:condition.string.contains haystack="{ADDBUT_4_SPECIAL}" needle="{">
			<f:then>
				<div class="card col-sm p-2 m-2 justify-content-center">
			</f:then>
			<f:else>
				<div class="card col-sm p-2 m-2 justify-content-center card-breaking">
			</f:else>
		</v:condition.string.contains>
		<f:link.page pageUid="{ADDBUT_4_UID}" tabindex="9">
			<div class="card-body d-flex p-0 m-0 align-items-center"
				 accesskey="{ADDBUT_4_AC}"
				 role="link">
				<i class="icon-{ADDBUT_4_ICON} m-2 p-2"></i>
				<f:format.raw value="{ADDBUT_4_TITLE}"/>
			</div>
		</f:link.page>
		</div>
	</f:else>
</v:condition.string.contains>
<v:condition.string.contains haystack="{ADDBUT_5_UID}" needle="{">
	<f:else>
		<v:condition.string.contains haystack="{ADDBUT_5_SPECIAL}" needle="{">
			<f:then>
				<div class="card col-sm p-2 m-2 justify-content-center">
			</f:then>
			<f:else>
				<div class="card col-sm p-2 m-2 justify-content-center card-breaking">
			</f:else>
		</v:condition.string.contains>
		<f:link.page pageUid="{ADDBUT_5_UID}" tabindex="8">
			<div class="card-body d-flex p-0 m-0 align-items-center"
				 accesskey="{ADDBUT_5_AC}"
				 role="link">
				<i class="icon-{ADDBUT_5_ICON} m-2 p-2"></i>
				<f:format.raw value="{ADDBUT_5_TITLE}"/>
			</div>
		</f:link.page>
		</div>
	</f:else>
</v:condition.string.contains>
</div>

</main>

<f:comment>
	There are some links to special pages in the footer.
	If they are not defined in the page typoscript they are not shown.
	The link title is set by default but can be changed by page typoscript.
</f:comment>
<footer role="contentinfo" class="start__footer mt-3 mb-3">
	<ul class="row start__list">
		<f:if condition="{UEBERUNS_UID}">
			<f:then>
				<li class="col-6 col-md start__link">
					<f:link.page pageUid="{UEBERUNS_UID}"
								 title="{f:translate(key:'aboutUs', extensionName: 'tmpl_ipoa')}">
						<i class="icon-smile m-2"></i>
						{f:translate(key:'aboutUs', extensionName: 'tmpl_ipoa')}
					</f:link.page>
				</li>
			</f:then>
		</f:if>
		<f:if condition="{KONTAKT_UID}">
			<f:then>
				<li class="col-6 col-md start__link">
					<f:link.page pageUid="{KONTAKT_UID}"
								 title="{f:translate(key:'contact', extensionName: 'tmpl_ipoa')}">
						<i class="icon-envelope m-2"></i>
						{f:translate(key:'contact', extensionName: 'tmpl_ipoa')}
					</f:link.page>
				</li>
			</f:then>
		</f:if>
		<f:if condition="{IMPRESSUM_UID}">
			<f:then>
				<li class="col-6 col-md start__link">
					<f:link.page pageUid="{IMPRESSUM_UID}"
								 title="{f:translate(key:'impressum', extensionName: 'tmpl_ipoa')}">
						<i class="icon-hammer2 m-2"></i>
						{f:translate(key:'impressum', extensionName: 'tmpl_ipoa')}
					</f:link.page>
				</li>
			</f:then>
		</f:if>
		<f:if condition="{PRIVACY_UID}">
			<f:then>
				<li class="col-6 col-md start__link">
					<f:link.page pageUid="{PRIVACY_UID}"
								 title="{f:translate(key:'privacy', extensionName: 'tmpl_ipoa')}">
						<i class="icon-info1 m-2"></i>
						{f:translate(key:'privacy-s', extensionName: 'tmpl_ipoa')}
					</f:link.page>
				</li>
			</f:then>
		</f:if>
		<v:page.languageMenu
			defaultLanguageLabel="Deutsch"
			defaultIsoFlag="de"
			hideNotTranslated="1"
			linkCurrent="0">
			<f:for each="{languageMenu}" as="lang">
				<li class="col-6 col-md start__link head__link-language {f:if(condition: '{lang.current}', then: 'head__link-active',  else:'')}">
					<i class="icon-earth m-2"></i>
					<f:if condition="{lang.current}">
						<f:then>
							{lang.label}
						</f:then>
						<f:else>
							<a class="start__link" href="{lang.url}">
								{lang.label}
							</a>
						</f:else>
					</f:if>
				</li>
			</f:for>
		</v:page.languageMenu>
	</ul>
</footer>
</div>
</div>
</html>
